#cursor {
    width: 2.5rem;

    position: fixed;
    z-index: 1000;

    margin-top: 4rem;

    transition: all 250ms ease-out;

    pointer-events: none;
}

#cursor .hover-cursor {
    display: none;
}

@media (max-width: 500px) {
    #cursor {
        display: none;
    }
}