#loading-screen {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    z-index: 3000;

    display: flex;
    align-items: end;

    background: var(--pink);

    animation: fadeOut .5s ease-in-out forwards;
    animation-delay: 2.4s;
}

#loading-screen h2 {
    font-family: var(--font-family-regeste-grotesk-regular);
    font-size: var(--font-size-extra-large);
    line-height: var(--line-height-85);
}

@keyframes fadeOut {
    0% {
        transform: translate(0, 0);
    }
    
    100% {
        transform: translate(0, -100%);
    }
} 
