* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

html, body {
    position: relative;

    scroll-snap-type: y mandatory;
    overscroll-behavior: none;
    
    background-color: var(--cream);
}

#header, #intro, #inleiden, #over-mij, #educatie, #ervaring, #vaardigheden, #werk, #afsluiten {
    scroll-snap-align: start;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;

    display: block;
}

button {
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 750px) {
    html, body {
        scroll-snap-type: none;
    }

    #header, #intro, #inleiden, #over-mij, #educatie, #ervaring, #vaardigheden, #werk, #afsluiten {
        scroll-snap-align: none;
    }
}


