#header {
    height: 100svh;

    align-items: end;

    box-shadow: none;
}

#header h1 {
    grid-column-start: 1;
    grid-column-end: 9;

    font-family: var(--font-family-regeste-grotesk-regular);
    font-size: var(--font-size-extra-large);
    line-height: var(--line-height-85);
}

#header div {
    grid-column-start: 9;
    grid-column-end: 13;
}

#header div img {
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var(--border-radius-large);
}

@media (min-width: 0px) and (max-width: 750px) {
    #header {
        box-shadow: var(--border-bottom-shadow);
    }

    #header h1 {
        display: none;
    }

    #header div {
        grid-column-start: 6;
        grid-column-end: 13;
    }

    #header div img {
        aspect-ratio: 3/4;
    }
}

@media (min-width: 750px) and (max-width: 1200px) {
    #header h1 {
        grid-column-start: 1;
        grid-column-end: 8;
    }

    #header div {
        grid-column-start: 8;
        grid-column-end: 13;
    }
}

/* #header h1,
#header div {
    transform: translateY(200px);

    opacity: 0;
}

#header.slide-in h1,
#header.slide-in div {
    animation: slideIn .75s ease-in-out forwards;
    animation-delay: .35s;
}

@keyframes slideIn {
    0% {
        transform: translateY(200px);

        opacity: 0;
    }
    100% {
        transform: translateY(0);

        opacity: 1;
    }
} */