#nav {
    width: 100vw;

    position: absolute;
    top: 0;
}

#nav > a {
    grid-column-start: 1;
    grid-column-end: 9;
    display: block;

    font-family: var(--font-family-regeste-grotesk-regular);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-85);
}

#nav > a span:nth-of-type(2)::before {
    content: ""; 
    display: inline;
}

#nav button {
    display: none;
}

#nav ul {
    grid-column-start: 9;
    grid-column-end: 13;
    display: flex;
    justify-content: space-between;
}

#nav ul li a {
    display: flex;
    align-items: end;

    font-family: var(--font-family-regeste-grotesk-regular);
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-80);
}

#nav ul li a div {
    margin-left: .5rem;
}

@media (max-width: 900px) {
    #nav > a span:nth-of-type(2)::before {
        content: ""; 
        display: block;
    }

    #nav button {
        width: fit-content;
        height: fit-content;

        grid-column-start: 9;
        grid-column-end: 13;
        display: flex;
        justify-self: end;

        padding: .35rem .5rem;

        border: var(--border);
        border-radius: var(--border-radius-small);

        background-color: transparent;

        font-family: var(--font-family-regeste-grotesk-regular);
        font-size: var(--font-size-extra-small);

        transition: all .25s ease-in-out;
    }

    #nav button.mobile-menu-active {
        background-color: var(--beige);
    }

    #nav button:hover {
        background-color: var(--beige);
    }

    #nav ul {
        display: none;
    }

    #nav ul.toggle-mobile-menu {
        grid-column-start: 9;
        grid-column-end: 13;
        display: block;
        justify-items: end;
    }

    #nav ul li {
        width: fit-content;
        height: fit-content;

        margin-bottom: .75rem;
        padding: .6rem .5rem;

        border: var(--border);
        border-radius: var(--border-radius-small);

        background-color: transparent;

        transition: all .25s ease-in-out;
    }

    #nav ul li:hover {
        background-color: var(--beige);
    }
}

