#werk {
    height: 100dvh;

    box-shadow: var(--border-top-shadow);
}

#werk ul {
    height: 100%;
}

#werk ul li {
    height: 100%;
    
    grid-column: span 4;
}

#werk ul li a {
    height: 100%;

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    padding: var(--gap);

    border-right: var(--border);

    transition: all .25s ease-in-out;
}

#werk ul li a::before{
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: transform .25s ease-in-out;
}

#werk ul li:nth-of-type(1) a::before {
    background-image: url("/img/playheart.io.png");
}

#werk ul li:nth-of-type(2) a::before {
    background-image: url("/img/cssttr.png");
}

#werk ul li a:hover {
    background-color: var(--beige);
}

#werk ul li a:hover::before {
    transform: scale(.75);
    will-change: transform; 
}

#werk ul li:nth-of-type(3) a, #werk ul li:nth-of-type(6) a {
    border-right: none;
}

#werk ul li:nth-of-type(4) a, #werk ul li:nth-of-type(5) a, #werk ul li:nth-of-type(6) a {
    border-top: var(--border);
}

#werk ul li a h3 {
    font-family: var(--font-family-regeste-grotesk-regular);
    font-size: var(--font-size-medium);
    text-decoration: underline;

    transition: all .25s ease-in-out;
}

#werk ul li a:hover .werk-titel {
    scale: 0;
}

#werk ul li a h4 {
    position: absolute;
    top: var(--gap);
    left: var(--gap);

    padding: .35rem .5rem;

    border: var(--border);
    border-radius: var(--border-radius-small);

    font-family: var(--font-family-regeste-grotesk-regular);
    font-size: var(--font-size-extra-small);
}

@media (max-width: 900px) {
    #werk {
        height: fit-content;
    }

    #werk ul li {
        height: 50lvh;
        
        grid-column: span 12;
    }
    
    #werk ul li:nth-of-type(1) a, #werk ul li:nth-of-type(2) a {
        border-bottom: var(--border);
    }
}